.popup-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 34px 36px 36px;
  font-family: "Inter", sans-serif;
  display: none;
}

.popup-form_is-opened {
  display: flex;
  flex-direction: column;
}

.popup-form__close-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -42px;
  right: -42px;
}

.popup-form__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 544px) {
  .popup-form__close-icon {
    width: 26px;
    height: 26px;
  }
}
