.popup-content {
  position: fixed;
  top: calc((100% / 2) - (330px / 2));
  left: calc((100% / 2) - (430px / 2));
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 34px 36px 36px;
  font-family: "Inter", sans-serif;
  display: none;
}

.popup-content_opened {
  display: flex;
}

.popup-content__close-icon {
  position: fixed;
  top: calc((100% / 2) - (330px / 2) - 40px);
  left: calc((100% / 2) + (430px / 2));
  width: 40px;
  height: 40px;
}

.popup-content__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 544px) {
  .popup-content__close-icon {
    top: calc((100% / 2) - (322px / 2) - 45px);
    left: calc((100% / 2) + (282px / 2) - 26px);
    width: 26px;
    height: 26px;
  }

  .popup-content {
    top: calc((100% / 2) - (322px / 2));
    left: calc((100% / 2) - (282px / 2));
    padding: 25px 22px;
  }
}
