<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Cesar Matsubayashi" />
    <meta
      name="description"
      content="Página interativa onde os usuários podem adicionar, remover, ou curtir fotos"
    />
    <meta name="keywords" content="EUA, fotos, TripleTen, EUA Afora" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <title>EUA Afora</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <img
          src="<%= require('./images/logo.svg')%>"
          alt="Logo Around The US."
          class="header__logo"
        />
      </header>

      <section class="profile">
        <img
          src="<%= require('./images/avatar.jpg')%>"
          alt="Profile photo"
          class="profile__photo"
        />
        <div class="profile__avatar-edit">
          <img
            src="<%= require('./images/edit-avatar.svg')%>"
            alt="Editar avatar"
            class="profile__edit-photo"
          />
        </div>

        <div class="profile__name-container">
          <h1 class="profile__name"></h1>
          <img
            src="<%= require('./images/edit-button.svg')%>"
            alt="Edit button"
            class="profile__edit-btn"
          />
          <p class="profile__about"></p>
        </div>

        <div class="profile__add-btn">
          <img
            src="<%= require('./images/add-btn-sign.svg')%>"
            alt="Adicionar"
            class="profile__add-btn-sign"
          />
        </div>
      </section>

      <main class="content">
        <section class="gallery"></section>
      </main>
      <footer class="footer">
        <p class="footer__copyright">&copy; 2024 Around The U.S.</p>
      </footer>
    </div>

    <div class="popup popup_image">
      <div class="popup__content">
        <button type="button" class="popup__close"></button>
        <img src=" " alt="" class="popup__image" />
        <p class="popup__caption"></p>
      </div>
    </div>

    <div class="popup popup_form_edit">
      <div class="popup__content popup__content_form">
        <button type="button" class="popup__close"></button>
        <form class="form form_edit" name="edit" novalidate>
          <h2 class="form__title">Editar perfil</h2>

          <fieldset class="form__fieldset">
            <input
              type="text"
              name="name"
              id="name-input"
              class="form__input form__input_el_name"
              placeholder="Nome"
              minlength="2"
              maxlength="40"
              required
            />
            <span class="name-input-error form__input-error"></span>

            <input
              type="text"
              name="about"
              id="about-input"
              class="form__input form__input_el_about"
              placeholder="Sobre mim"
              minlength="2"
              maxlength="200"
              required
            />
            <span class="about-input-error form__input-error"></span>
            <button type="submit" name="submit" class="form__button">
              Salvar
            </button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="popup popup_form_add">
      <div class="popup__content popup__content_form">
        <button type="button" class="popup__close"></button>
        <form class="form form_add" name="add" novalidate>
          <h2 class="form__title">Novo local</h2>

          <fieldset class="form__fieldset">
            <input
              type="text"
              name="name"
              id="name-input"
              class="form__input form__input_el_name"
              placeholder="Título"
              minlength="2"
              maxlength="30"
              required
            />
            <span class="name-input-error form__input-error"></span>

            <input
              type="url"
              name="link"
              id="link-input"
              class="form__input form__input_el_link"
              placeholder="Link da imagem"
              required
            />
            <span class="link-input-error form__input-error"></span>
            <button type="submit" name="submit" class="form__button">
              Criar
            </button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="popup popup_form_edit-avatar">
      <div class="popup__content popup__content_form">
        <button type="button" class="popup__close"></button>
        <form class="form form_edit-avatar" name="edit-avatar" novalidate>
          <h2 class="form__title">Alterar a foto do perfil</h2>

          <fieldset class="form__fieldset">
            <input
              type="url"
              name="link"
              id="link-input"
              class="form__input form__input_el_link"
              placeholder="Link da imagem"
              required
            />
            <span class="link-input-error form__input-error"></span>
            <button type="submit" name="submit" class="form__button">
              Salvar
            </button>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="popup popup_form_confirm">
      <div class="popup__content popup__content_form">
        <button type="button" class="popup__close"></button>

        <form class="form form_confirm" name="confirm" novalidate>
          <h2 class="form__title">Tem certeza?</h2>

          <fieldset class="form__fieldset">
            <input
              type="text"
              name="id"
              id="id-input"
              class="form__input id"
              placeholder="id do cartão"
              required
            />
            <span class="id-input-error form__input-error"></span>
            <button type="submit" name="submit" class="form__button">
              Sim
            </button>
          </fieldset>
        </form>
      </div>
    </div>

    <template id="card-template">
      <div class="gallery__card" id="">
        <img src=" " alt="" class="gallery__photo" />

        <img
          src="<%= require('./images/trash.svg')%>"
          alt="Excluir"
          class="gallery__trash"
        />

        <ul class="gallery__caption">
          <li class="gallery__title"></li>

          <li class="gallery__like-content">
            <img
              src="<%= require('./images/like.svg')%>"
              alt="Like"
              class="gallery__like-btn"
            />
            <p class="gallery__like-count">0</p>
          </li>
        </ul>
      </div>
    </template>
  </body>
</html>
